{% extends 'master/master.html' %}
{% block title %} doctordashboard {% endblock %}

{% load staticfiles %}
{% load widget_tweaks %}
{% block content %}


{% include 'partial/header2.html' %}

<div id="main">
  <div class="list">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <form action="{% url 'send_report' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for f in form %}
                  <div class="form-group">
                      <label>{{f.label_tag}} <span class="required">*</span></label>
                        {{f|add_class:'form-control'}}
                    </div>

         {% endfor %}
         <input type="submit" name="" value="Send">

        </form>
      </div>





    </div>

  </div>

</div>




{% endblock %}
