{% extends 'master/master.html' %}
{% block title %} Services {% endblock %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

{% include 'partial/header1.html' %}

<div class="main departmentpart">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <a href="#"><img src="{{MEDIA_URL}}{{service.image.url}}" alt="" style="width:100%;""></a>
            </div>

            <div class="col-md-8">
                  <h3><a href="#">{{service.name}}</a></h3>
                <p>{% autoescape off %}{{service.description}}{% endautoescape %}</p>
            </div>



        </div>

    </div>
</div>

{% endblock %}
